/Solutions/ReversePolishNotation/ReversePolishNotation/obj/
/Solutions/ReversePolishNotation/ReversePolishNotation/bin/
/Solutions/ReversePolishNotation/ReversePolishNotation/packages/
/Solutions/ReversePolishNotation/ReversePolishNotationriderModule.iml
/Solutions/ReversePolishNotation/ReversePolishNotation/_ReSharper.Caches/