/ReversePolishNotation/bin
/ReversePolishNotation/obj
/ReversePolishNotationTests/bin
/ReversePolishNotationTests/obj
/LanguageDevShared/bin
/LanguageDevShared/obj
/LanguageDevSharedTests/bin
/LanguageDevSharedTests/obj