ReversePolishNotation/obj/
ReversePolishNotation/bin/
ReversePolishNotation/packages/
ReversePolishNotation/ReversePolishNotationriderModule.iml
ReversePolishNotation/ReversePolishNotation/_ReSharper.Caches/
ReversePolishNotationTests/obj/
ReversePolishNotationTests/bin/
ReversePolishNotationTests/packages/
ReversePolishNotationTests/ReversePolishNotationriderModule.iml
RevesrePolishNotationTests/RevesrePolishNotationTests/_ReSharper.Caches/